---
layout: default
---
<div id="home" class="page-content wc-container" itemprop="mainContentOfPage">
  <div class="posts">
  {% if site.paginate %}
      {% for post in paginator.posts %}
        <div class="post">
          <h3 class="post-title">
            <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">
              {{ post.title }}
            </a>
          </h3>

          <p class="post-meta">
            {% if (post.categories.size > 0 %}
            <a class="categories" href="{{ site.url }}{{ site.baseurl }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" rel="tag">
            {{ post.categories | array_to_sentence_string }}
            </a> |
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%b %-d, %Y" }}
            </time>
            {% if post.author %}
            {% assign author = site.data.author[post.author] %}
            | By
            <a rel="author" href="{{ author.link }}" title="{{ author.name }}" itemprop="url">
            <person itemprop="author" itemprop="name" itemscope itemtype="http://schema.org/Person">{{ author.name }}</person>
            </a>
            {% endif %}
          </p>

            {% if site.excerpt_separator %}
              <p>{{ post.excerpt }}</p>
            {% else %}
              <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
            {% endif %}
          <p>
            <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title}}" rel="nofollow">
              Read More
          </a>
          </p>
        </div>
      {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="post-footer">
    <div class="column-1">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; 上一页</a>
    {% endif %}
    </div>
    <div class="column-2">
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}
    </div>
    <div class="column-3">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &raquo;</a>
    {% endif %}
    </div>
  </div>
{% endif %}
{% else %}
{% for post in site.posts %}
        <div class="post">
          <h3 class="post-title">
            <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">
              {{ post.title }}
            </a>
          </h3>

          <p class="post-meta">
            {% if (post.categories.size > 0 %}
            <a class="categories" href="{{ site.url }}{{ site.baseurl }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" rel="tag">
            {{ post.categories | array_to_sentence_string }}
            </a> |
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%b %-d, %Y" }}
            </time>
            {% if post.author %}
            {% assign author = site.data.author[post.author] %}
            | By
            <a rel="author" href="{{ author.link }}" title="{{ author.name }}" itemprop="url">
            <person itemprop="author" itemprop="name" itemscope itemtype="http://schema.org/Person">{{ author.name }}</person>
            </a>
            {% endif %}
          </p>

            {% if site.excerpt_separator %}
              <p>{{ post.excerpt }}</p>
            {% else %}
              <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
            {% endif %}
          <p>
            <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title}}" rel="nofollow">
              Read More
          </a>
          </p>
        </div>
      {% endfor %}
  </div>
  {% endif %}
</div>