<h6>Follow me</h6>

<ul class="social-media">
    {% if site.data.social.twitter %}
    <li>
        <a title="{{ site.data.social.twitter }} on Twitter"
            href="https://twitter.com/{{ site.data.social.twitter }}"
            class="twitter wc-img-replace" target="_blank">Twitter</a>
    </li>
    {% endif %}

    {% if site.data.social.github %}
    <li>
        <a title="{{ site.data.social.github }} on Github"
            href="https://github.com/{{ site.data.social.github }}"
            class="github wc-img-replace" target="_blank">Github</a>
    </li>
    {% else %}
    <li>
        <a title="{{ site.github.owner_name }} on Github"
            href="{{ site.github.owner_url }}"
            class="github wc-img-replace" target="_blank">Github</a>
    </li>
    {% endif %}

    {% if site.data.social.facebook %}
    <li>
        <a title="{{ site.data.social.facebook }} on Facebook"
            href="https://facebook.com/{{ site.data.social.facebook }}"
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>
    {% endif %}

    {% if site.data.social.gplus %}
    <li>
        <a title="{{ site.data.social.gplus }} on Google Plus"
            href="https://plus.google.com/{{ site.data.social.gplus }}"
            class="google wc-img-replace" target="_blank">Google</a>
    </li>
    {% endif %}

    {% if site.data.social.dribble %}
    <li>
        <a title="{{ site.data.social.dribble }} on Dribble"
            href="https://dribbble.com/{{ site.data.social.dribble }}"
            class="dribble wc-img-replace" target="_blank">Dribble</a>
    </li>
    {% endif %}

    {% if site.data.social.pinterest %}
    <li>
        <a title="{{ site.data.social.pinterest }} on Pinterest"
            href="https://www.pinterest.com/{{ site.data.social.pinterest }}"
            class="pinterest wc-img-replace" target="_blank">Pinterest</a>
    </li>
    {% endif %}

    <li>
        <a title="Atom Feed"
            href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"
            class="rss wc-img-replace" target="_blank">RSS</a>
    </li>
</ul>